.card-style-1 {
    width: 330px;
    max-width: 350px;
    margin: 15px;
    background: #eeffee;
    box-shadow: 5px 0px 30px;
}

.card-style-1 img {
    width: 100%;
}

.card-style-1 h2{
    padding: 20px;
}

.card-style-1 p {
    text-align: left;
    padding: 20px;
    font-size: 18px;
}

.card-style-1 a {
    text-align: center;
    background-color: #008000;
    color: white;
    text-decoration: none;
    padding: 30px;
    display: block;
    border: 3px #008000;
    font-size: 20px;
    transition: 
        background-color 0.25s,
        color 0.25s;
}

.card-style-1 a:hover {
    background-color: transparent;
    color: rgb(111, 209, 111);
}
