* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/football-background.jpg)
}

.center-column {
    background-color: white;
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center-column #top-information h3 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
}

.center-column #top-information h1 {
    font-size: 70px;
    margin: 20px 0px;
}

#football-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 30px 30px;
}

#football-container h1 {
    font-size: 100px;
    margin: 0px 20px;
}

#football-container #bulldog img {
    width: 100%;
}

#football-container #falcon img {
    width: 100%;
    margin-top: 30px
}


#general-information {
    padding: 0px 20px;
    font-size: 15px;
    margin: 0px;
}

.cta-button {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.cta-button a {
    font-size: 20px;
    font-weight: bold;
    background-color: #0f6913;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 12px;
    margin-left: 12px;
    transition:
        background-color 0.25s,
        color 0.25s;
}

.cta-button a:hover {
    background-color: #0a510e;
    color: #FFFFFF;
}

#general-information h3 {
    font-size: 20px;
    padding: 0px 2px;
}

@media screen and (max-width: 657px) {
    
    .center-column #top-information h3 {
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    
    .center-column #top-information h1 {
        font-size: 50px;
        margin: 20px 0px;
    }
    
    #football-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px 30px;
    }

    #football-container h1 {
        font-size: 100px;
        margin: 20px 0px;
    }

    .cta-button {
        display: flex;
        flex-direction: row;
        margin: 10px 0px;
    }
}