@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Yatra+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Lexend", Helvetica, sans-serif;
    background-color: #000814;
    color: white;
}

#hero-1 {
    background-image: url(../images/laptop-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 90px;
    margin-bottom: 50px;
}
#hero-1 a{
    text-decoration: underline;
    color: white;
    font-weight: 400;
}

#hero-1 h1 {
    font-size: 60px
}

.fake-button {
    background-color: rgb(241 53 37);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-right: 135px;
    width: 200px;
}

.parallax-banner {
    height: 50vh;
    margin: 100px 0px;
    background-image: url(../images/pattern.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#layout {
    display: flex;
    justify-content: space-evenly;
}

.card-style-1 {
    width: 430px;
    max-width: 450px;
    margin: 15px;
    background: rgb(241 53 37);
    text-align: center;
    padding: 10px;
    font-size: 18;
    display: inline-block;
}

.card-style-1 img {
    width: 100%
}

.card-style-1 a {
    font-weight: 400;
    color: white;
    text-decoration: underline;
    display: block;
    padding: 20px;
    transition: 
        background-color 0.25s,
        color 0.25s;
}

.card-style-1 a:hover {
    background-color: transparent;
    color: rgb(101, 15, 15);
}

#grid-layout {
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
    border: 10px solid rgb(101, 15, 15);
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

#Gallery {
    text-align: center;
}
