.frame {
    border: 10px solid black;
    width: 150px;
    margin: 10px;
}

div.frame img {
    width: 100%;
    display: block;
    border: 2px solid white;
}

.frame2 {
    border: 10px solid black;
    width: 150px;
    margin: 16px;

}

div.frame2 img {
    width: 100%;
    display: block;
    border: 2px solid white;
}


div.frame-text p {
    border: 15px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 10px;
}