* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#layout {
    margin-top: 20px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
    grid-template-areas: "one two three";
}

#column-1 {
    min-height: 100vh;  
    grid-area: one;
}

#column-1 img {
    padding: 10px;
    width: 100%;
}


#column-2 {
    min-height: 100vh;
    grid-area: two;
    padding: 10px;
}

.fake-button {
    background-color: rgb(37, 37, 188);
    padding: 5px;
    text-align: center;
    border-radius: 40px;
    color: white;
    margin: 12px;
    display: inline-block;
    min-width: 200px;
}


#column-3 {
    min-height: 100vh;
    grid-area: three;
    text-align:center;
    padding: 10px;
}

#sidebar-content {
    width: 200px;
    padding: 24px;
    border: 2px solid grey;
}
#sidebar-content h2 {
    border-bottom: 2px solid grey;
    padding-bottom: 8px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
    text-align:center;
}

#sidebar-content ul a {
    font-style: italic;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

#sidebar-content2 {
    width: 200px;
    padding: 24px;
    border: 2px solid grey;
    margin-top: 30px;
}

#sidebar-content2 h3 {
    border-bottom: 2px solid grey;
    padding-bottom: 8px;
}

#sidebar-content2 ul {
    list-style-type: none;
    padding: 0px;
    text-align:center;
}

#sidebar-content2 ul a {
    font-style: italic;
}

#sidebar-content2 ul li {
    padding: 4px 0px;
}

#price {
    font-size: 40px;
}

#mebay {
    text-align: center;
    font-size: 50px;
    border-bottom: solid 3px grey;
    padding: 15px;
}

#first-letter {
    color: purple;
}

#second-letter {
    color: red;
}

#third-letter {
    color: blue;
}

#fourth-letter {
    color: darkorange;
}

#fifth-letter {
    color: green;
}